h1, h2, h3, h4, h5, h6 {
    color: #1d2129;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
._1yv {
    box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
    margin: 0 auto 40px;
    position: relative;
}._t {
    background-color: #fff;
    position: relative;
}._1yw {
    background-color: #6d84b4;
    border: 1px solid #365899;
    border-bottom: 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.async_saving ._517h, a.async_saving._517h, ._517h._42fr {
    background-color: #f6f7f9;
    border-color: #dddfe2;
    color: #bec2c9;
}
 
.pvs {
    padding-top: 5px;
    padding-bottom: 5px;
}
 
.phm {
    padding-left: 10px;
    padding-right: 10px;
}._13, ._14 {
    border-color: #555;
    border-style: solid;
    border-width: 0 1px;
}
 
.pam {
    padding: 10px;
}
.topborder {
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.uiBoxGray {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}


._42g- {
    background-color: #4267b2;
    border-color: #4267b2;
    color: #fff;
}
 

 

 
._42fu {
    border-radius: 2px;
    box-sizing: content-box;
    color: #4b4f56;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 22px;
    padding: 0 6px;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}._42gy {
    font-size: 12px;
    line-height: 26px;
}._42fu, ._42gx:focus, ._42gx:hover {
    background-color: #f6f7f9;
    border: 1px solid #ced0d4;
}.pbm {
    padding-bottom: 10px;
}
.fbChatPrivacySettingsDialog {
    min-width: 392px;
}
 .fcb {
    color: #333;
}
 
.fwb {
    font-weight: bold;
}
 
.fsl {
    font-size: 14px;
}
.pvm {
    padding-top: 10px;
    padding-bottom: 10px;
}
 
.phl {
    padding-left: 20px;
    padding-right: 20px;
}
._5bbv {
    padding: 4px 12px 0;
}
 .profileBrowserDialog .fbProfileBrowserListItem:first-child {
    border-top: none;
}
 
._4kg._704>li {
    padding-top: 5px;
    padding-bottom: 5px;
}
 
.uiList>li:first-child {
    border-width: 0;
}
 
.fbProfileBrowserList .fbProfileBrowserListItem {
    padding: 8px 0;
}
 
._4ks>li {
    border-color: #e9ebee;
    border-style: solid;
}
.clearfix {
    zoom: 1;
}

._8t {
    margin-right: 10px;
}
 
._8o, ._8o .img {
    display: block;
}
._rw {
    height: 50px;
    width: 50px;
}._5bbv .fcb a {
    color: #1d2129;
}
.profileBrowserDialog .fbProfileBrowserListItem:first-child {
    border-top: none;
}
._4kg>li {
    border-width: 1px 0 0 0;
}
.uiProfileBlockContent {
    overflow: hidden;
}
._6b {
    vertical-align: middle;
}
._6a {
    display: inline-block;
}